@import url('https://fonts.cdnfonts.com/css/google-sans');
/* -----------------Common Css--------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
    overflow: hidden;
}


/* ----------------Side Bar Start-------------- */
.sidenav {
    background-color: #3C3C3C;
    color: aliceblue;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 35%;
    border-right: 2px solid;
}
.sidenav h1{
    text-align: center;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
}
.sidenav h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: rgb(235, 27, 27);
}
.all_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.all_inputs p{
    font-size: 19px;
}
.all_inputs input{
    border: none;
    outline: none;
    width: 270px;
    height: 48px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
}
.all_inputs select{
    border: none;
    outline: none;
    width: 310px;
    height: 48px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
}
/* ------Button Hover */
.card_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 600;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

/* ----------SideBar End----------== */

/* ----------Main Start----------== */

.main {
    margin-top: 2%;
    margin-left: 37%;
    font-size: 28px;
    padding: 0 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 550px;
    overflow-y: scroll;
}

/* ---------Master Card */
.container{
  position: relative;
  background-image:url(images/bg.png);
  background-size: cover;
  max-width: 380px;
  min-width: 200px;
  width: 100%;
  border-radius: 28px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  height: 215px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h4 {
    color: white;
    padding-left: 7px;
    font-size: 20px;
    margin: 0;
}
.logo img{
  width: 48px;
}
header img{
  width: 60px;
}
/* THE CARD NUMBER AND DETAILS */
.cardnum p, h3 {
    color: #fff;
    padding-top: 5px;
    margin: 10px 0;
    font-size: 20px;
}
.val{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.val p{
  font-size: 20px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 215px;
  width: 380px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 215px;
}

.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
    height: 265px;
    background: transparent;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 30px;
    top: 0;
}
.strip {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 1.5em;
  top: 25px;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}
.flip-card-back .infos{
  margin-top: 70px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}
.flip-card-back .infos p{
  color: ghostwhite;
  font-size: 15px;
  font-weight: 500;
}
/* ----------Main End----------== */
