@import url('https://fonts.cdnfonts.com/css/google-sans');
/* -----------------Common Css--------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}


/* ----------------Side Bar Start-------------- */
.sidenav {
    background-color: #3C3C3C;
    color: aliceblue;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 35%;
    border-right: 2px solid;
}
.sidenav h1{
    text-align: center;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
}
.sidenav h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: rgb(235, 27, 27);
}
.all_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.all_inputs p{
    font-size: 19px;
}
.all_inputs input{
    border: none;
    outline: none;
    width: 270px;
    height: 48px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
}
.all_inputs select{
    border: none;
    outline: none;
    width: 310px;
    height: 48px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
}
/* ------Inputs */

/* ----------SideBar End----------== */

/* ----------Main Start----------== */

.main {
    margin-top: 2%;
    margin-left: 37%;
    font-size: 28px;
    padding: 0 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------Master Card */
.container{
  position: relative;
  background-image:url(images/bg.png);
  background-size: cover;
  max-width: 380px;
  min-width: 200px;
  width: 100%;
  border-radius: 28px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  height: 215px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h4{
  color: white;
  padding-left:7px;
}
.logo img{
  width: 48px;
}
header img{
  width: 60px;
}
/* THE CARD NUMBER AND DETAILS */
.cardnum p,h3{
  color: #fff;
  padding-top: 5px;
}
.val{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.val span p{
  font-size: 18px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 215px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 215px;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
  height: 215px;
}
/* ----------Main End----------== */
