@import url('https://fonts.cdnfonts.com/css/google-sans');
/* -----------------Common Css--------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}


/* ----------------Side Bar Start-------------- */
.sidenav {
    background-color: #3C3C3C;
    color: aliceblue;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 35%;
    border-right: 2px solid;
}
.sidenav h1{
    text-align: center;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
}
.sidenav h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: rgb(235, 27, 27);
}
.all_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.all_inputs p{
    font-size: 19px;
}
.all_inputs input {
    border: none;
    outline: none;
    width: 270px;
    height: 48px;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 14px;
}
/* ------Inputs */

/* ----------SideBar End----------== */

/* ----------Main Start----------== */

.main {
    margin-top: 2%;
    margin-left: 37%;
    font-size: 28px;
    padding: 0 10px;
    width: 60%;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}
/* ----------Main End----------== */
